<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestSuite" parallel="classes">
    <test name="Tests">
        <classes>
            <class name="TestNG_Activities.Activity1"/>
            <class name="TestNG_Activities.Activity2"/>
            <class name="TestNG_Activities.Activity3"/>
            <class name="TestNG_Activities.Activity5"/>
        </classes>
    </test>
</suite>



